
:root {
  --font-body: upgrade, sans-serif;
  --font-mono: zeitung-mono, monotype;
  --font-display: zeitung, sans-serif;

  --color-off-white: #f9f9f9;
  --color-gray-200: hsl(0, 0%, 89%);
  --color-gray-400: hsl(0, 0%, 43%);
  --color-grey-700: #484848;
  --color-gray-800: #383838;
  --color-orange-400: hsl(30, 100%, 85%);
  --color-orange: hsl(30, 100%, 65%);

  --theme-bg: var(--color-off-white);
  --theme-color: var(--color-gray-800);
  --theme-color-light: var(--color-gray-700);
  --theme-color-lighter: var(--color-gray-400);
  --theme-color-lightest: var(--color-gray-200);
  --theme-accent: var(--color-orange);
  --theme-accent-light: var(--color-orange-400);
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-color);
  font-family: var(--font-body) !important;
  font-weight: 300 !important;
  overflow-x: hidden !important;
}

img {
  max-width: 100%;
}

a {
  color: var(--theme-color-light);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: var(--theme-color);
}

p {
  line-height: 1.5;
}

.site-grid {
  display: grid;
  grid-template-columns: 1fr [main-start] min(896px, 90%) [main-end] 1fr;
  position: relative;
}

.site-grid--border {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: var(--theme-color);
}

.site-grid>* {
  grid-column: main;
}

.site-subgrid {
  grid-column: 1 / -1;
  grid-template-columns: 1fr [main-start] min(896px, 90%) [main-end] 1fr;
  display: grid;
}

.site-columns {
  display: grid;
  grid-column: main;
  grid-template-columns: [content-start] 2fr [content-end aside-start] 1fr [aside-end];
  gap: 60px;
}

.site-columns__column:first-child,
.site-columns__column__content {
  grid-column: content;
}

.site-columns__column:nth-child(2),
.site-columns__aside {
  grid-column: aside;
}

main.site-grid {
  padding-block-end: 160px;
}

@media (max-width: 860px) {
  .site-columns {
    grid-template-columns: [content-start aside-start] 1fr [content-end aside-end];
  }
}

.slanted,
.slanted-xs,
.slanted-xl {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.slanted-xl::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 106%;
  background: var(--theme-accent);
  z-index: -1;
  transform: rotate(-1.95deg);
  border-radius: 12px;
  bottom: 0px;
}


.slanted-xs::before,
.slanted-nav-hover:hover::before {
  content: '';
  position: absolute;
  height: 6px;
  width: 106%;
  background: var(--theme-accent);
  z-index: -1;
  transform: rotate(-2deg);
  border-radius: 2px;
  bottom: 0px;
}

.site-header__meta__links__item,
.meta-item {
  display: grid;
  grid-auto-flow: column;
  place-content: flex-start;
  place-items: baseline;
  column-gap: 6px;
  font-family: var(--font-display);
  color: var(--theme-color);
  font-size: .875rem;
  font-weight: bold;
}

.site-header__meta__links__item img[src="/assets/twitter.svg"],
.meta-item img[src="/assets/twitter.svg"] {
  position: relative;
  top: 2px;
}

.site-header__meta__links__item img[src="/assets/rss.svg"],
.meta-item img[src="/assets/rss.svg"] {
  position: relative;
  top: 1px;
}

.story__header h4,
.story__header h4 a {
  font-size: 1.5rem;
  font-family: var(--font-display);
  font-weight: 800;
}

.story__header {
display: grid;
row-gap: 10px;
padding-block-end: 16px;
}

.story__header__meta__date {
  font-family: var(--font-display);
  color: var(--theme-color-light);
  font-size: .875rem;
  padding-inline-end: 8px;
}

.story__header__meta {
  display: flex;
}

.story__header__meta__label {
  font-size: .625rem;
  font-family: var(--font-display);
  font-weight: 800;
  color: var(--theme-color-light);
}

.story__body__image {
  position: relative;
}

.story__body__image:hover {
  filter: drop-shadow(hsla(0, 0%, 15%, .9) 0px 0px 14px);
}

.story__body__image__cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .1;
  background: var(--theme-accent);
  border-radius: 12px;
}

.story__body__image__controls {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.story__body__image__controls__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story__body__image__controls__container svg {
  width: 12%;
}

.story__body__image video {
  width: 100%;
}

.story__body__image img,
.story__body__image video {
  filter: brightness(0.65) contrast(0.95) saturate(0);
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
}

.story__body__link {
  font-size: .875rem;
  color: var(--theme-color);
  font-weight: 800;
  text-decoration: none;
}

.story-feed {
  display: grid;
  row-gap: 48px;
}

.story__body__link {
  text-transform: uppercase;
}

.story__body {
  display: grid;
  row-gap: 12px;
}

.story__body p {
  line-height: 1.5;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/**
 * prism.js custom theme for JavaScript, CSS and HTML
 * Based on default theme
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #55b5db;
   background: none;
   font-family: Fira Code, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-weight: 400;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 code[class*="language-css"],
 pre[class*="language-css"],
 code[class*="language-html"],
 pre[class*="language-html"] {
  color: #d0d2d1 !important;
 }

 code[class*="language-html"].token.punctuation,
 pre[class*="language-html"].token.punctuation {
  color: #55b5db !important;
 }
 
 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
   text-shadow: none;
   background: hsl(213, 92%, 85%);
   opacity: 0.4;
 }
 
 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
   text-shadow: none;
   background: #b3d4fc;
   opacity: 0.4;
 }
 
 @media print {
   code[class*="language-"],
   pre[class*="language-"] {
     text-shadow: none;
   }
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background-image: linear-gradient(-56deg, #2E2E2E 12%, #1e1e1e 120%);
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #41535b;
 }
 
 .token.punctuation {
   color: #d0d2d1;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.function,
 .token.property {
   color: #a074c4;
 }

 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #cd3f45;
 }
 
 .token.tag,
 .token.selector,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #55b5db;
 }
 
 .token.attr-name,
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string {
   color: #94CE3F;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.keyword {
   color: #E7AD52;
 }
 
 .token.class-name {
   color: #55b5db;
 }
 
 .token.regex,
 .token.important,
 .token.variable {
   color: #55b5db;
 }
 
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 