<style>
  .main-footer {
    background-color: var(--theme-color-lightest);
    height: 152px;
    place-content: center;
  }
  .main-footer nav {
    display: grid;
    row-gap: 10px;
  }
</style>
<footer class="main-footer site-grid">
  <nav>
    <div class="site-header__meta__links__item">
      <span class="slanted-xs">
        <img src="/assets/twitter.svg" alt="Twitter Logo" />
        <a href="https://twitter.com/_davideast" class="site-header__meta__links__item__text">
          @_davideast
        </a>
      </span>
    </div>

    <div class="site-header__meta__links__item">
      <img src="/assets/rss.svg" alt="RSS Logo" />
      <a href="https://twitter.com/_davideast" class="site-header__meta__links__item__text">
        RSS
      </a>
    </div>
  </nav>
</footer>
